@model NotesDB.Models.WelcomeModel

<div class="row">
    <div class="col-md-12">
        <h2>Welcome, you are connected to <b>@Model.Db</b> database on <a href="@Model.Url" target="_blank">@Model.Url</a></h2>
    </div>
    <div class="col-md-12">
        <h5>Edit <i>settings.json</i> to change those default settings</h5>
    </div>
</div>
